<h1>Account Information</h1>

<p> <strong>Name:</strong> <%= @user.name %></p>

<p> <strong>Email:</strong> <%= @user.email %></p>

<%= link_to 'Home',  root_path %>

<%= debug(params) if Rails.env.development? %>

<% unless @user.items.empty? %>
  <table class="items" summary="User items">
  	<%= render @items %>
  </table>
  <%= will_paginate @items %>
<% end %>
