<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Body:</b>
  <%= @item.body %>
</p>

<p>
  <b>Done:</b>
  <%= @item.done %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', user_path(current_user) %>
